body {
    padding-bottom: 20px;
}

.account-body {
    background: #2f89b3;
}

.account-box {
    background: #fff;
    border: 1px #909090 solid;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    margin: 10% auto;
}

.back-button-container {
    margin: 20px 0px 0px 20px;
}

.gallery-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery-list > li {
    float: left;
    width: 20%;
    height: 20%;
    margin: 0 -1px -1px 0;
    border: 10px solid transparent;
    overflow: hidden;
}

.gallery-list > li > img {
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    vertical-align: middle;
    border-style: none;
}

@media (max-width: 768px) {
    .account-box {
        width: 90%;
        margin-top: 20px;
    }

    .gallery-list > li {
        width: 50%;
        height: 50%;
    }
}