@model IEnumerable<Models.Image>
@{ 
    ViewData["Title"] = "Gallery";
}
<h1>
    Gallery
    <div class="pull-right">
        <a asp-controller="Gallery" asp-action="New" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add
        </a>
    </div>
</h1>

<div class="row" id="gallery">
    <div class="col-xs-12">
        <ul class="gallery-list">
            @if(Model.Count() == 0)
            {
                <div class="alert alert-info">
                    There are no gallery items in the database. Add some by pressing the "Add" button in the top right corner.
                </div>
            }
            @foreach(var item in Model)
            {
                <li>
                    <img src="@item.ImgUrl" alt="@item.Title - Added by @item.Name"/>
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/js/gallery.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/gallery.min.js"></script>
    </environment>
}