@{
    ViewData["Title"] = "About";
}

<h1>About this project</h1>

<p>This project is for the second assignment in the Internet Technology course at the University og Southern Denmark.</p>

<p>The project is made by Ditlev Selz Stoltenberg Stjerne (distj14) and Steffen Hansen (stefh14) and built using ASP.NET Core v. 1.1</p>

<p><b>The following libraries has been used:</b></p>

<ul>
    <li>
        Bootstrap
    </li>
    <li>
        jQuery
    </li>
    <li>
        Viewer.js
    </li>
</ul>

<p>See the README.md file for more information.</p>